In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df_data = pd.read_csv('/content/sample dataset of housing1.csv')
df_data

    area  no_bhk  age  locality  parking  facilities  price
0   1500       2    3     rural        1           y  10000
1   2000       3    3     rural        2           y  12000
2   2500       4    3     rural        3           y  15000
3   3000       5    3     rural        4           y  18000
4   4000       6    3     rural        5           y  21000
5   1500       2    3     urban        1           y  12500
6   2000       3    3     urban        2           y  14500
7   2500       4    3     urban        3           y  17500
8   3000       5    3     urban        4           y  20500
9   4000       6    3     urban        5           y  23500
10   NaN     NaN  NaN       NaN      NaN         NaN    NaN
11  area  no_bhk  age  locality  parking  facilities  price
12  1500       2    5     rural        1           y  15000
13  2000       3    5     rural        2           y  20000
14  2500       4    5     rural        3           y  25000
15  3000       5    5     rural        4           y  30000
16  4000       6    5     rural        5           y  35000
17  1500       2    5     urban        1           y  18000
18  2000       3    5     urban        2           y  20000
19  2500       4    5     urban        3           y  22000
20  3000       5    5     urban        4           y  24000
21  4000       6    5     urban        5           y  26000

In [ ]:
remove =column14

NameError: ignored

In [ ]:
X = df_data.iloc[:,:-1].values # independent
y = df_data.iloc[:,-1].values # dependent

In [ ]:
# Missing value

from sklearn.impute import SimpleImputer
# sklearn.impute.SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

imputer.fit(X[:,1:3])
X[:,1:3]= imputer.transform(X[:,1:3])

ValueError: ignored